.stamp-photo{
   min-width: 18px !important;
}

.mat-hint{
    font-size: 80%;
}

button {
    border: 0.4px solid black;
    width: 33%;
}

#input-stamp-field{
    padding-top: 20px;
}

.active {
    background-color: #8edaf8;
    color: white;
}

.stamp-list {
    overflow-y: auto;
    height: 141px;
}

#stampViewer {
    padding-left: 70px;
    width: 0px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background-color:  rgba(0, 0, 0, 0.26) !important;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #3F51B5; 
    border-radius: 2px;
    width: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1933a7; 
    border-radius: 5px;
}