<mat-label>Épaisseur de la ligne</mat-label>
<mat-slider [max]="maxLineThickness"
            [min]="minLineThickness"
            [value]="lineThickness"
            (input)="onLineThicknessChange($event.value)">
</mat-slider>
<span>{{ lineThickness }} px</span>

<br/>

<mat-label>Nombre de côtés</mat-label>
<mat-slider [max]="maxNumberOfSides"
            [min]="minNumberOfSides"
            [value]="numberOfSides"
            (input)="onNumberOfSidesChange($event.value)">
</mat-slider>
<span>{{ numberOfSides }}</span>

<br/>

<mat-label>Tracé du polygone</mat-label>
<br/>
<mat-button-toggle-group (change) = "onRadioButtonChange($event.value)" aria-label="Select an option">
    <mat-button-toggle [checked] ="this.polygonService.isBordered && !this.polygonService.isFilled" value="0" matTooltip="Contour"><img [src]="'../../../../assets/polygone-contour.svg'"></mat-button-toggle>
    <mat-button-toggle [checked] ="!this.polygonService.isBordered && this.polygonService.isFilled" value="1" matTooltip="Rempli"><img [src]="'../../../../assets/polygone-filled.svg'"></mat-button-toggle>
    <mat-button-toggle [checked] ="this.polygonService.isBordered && this.polygonService.isFilled"  value="2" matTooltip="Contour et rempli"><img [src]="'../../../../assets/polygone.svg'"></mat-button-toggle>
</mat-button-toggle-group>