<div class="text-box" [hidden]="!this.textService.isTextBoxActive" [style.top.px]="textService.topCorner.y" [style.left.px]="textService.topCorner.x">
    <textarea
        wrap="off"
        spellcheck="false"
        type="text"
        [style.color]="this.textService.getTextColor()"
        [style.border]="'none'"
        #textBox
        class="textBox"
        (input)="this.textService.resizeTextBox();"
        [ngStyle]="this.textService.currentStyle"
        [style.top.left]="this.textService.topCorner.x"
    ></textarea>
</div>

<div 
class="bottom-mask" 
[style.left.px]="this.textService.drawingService.canvas?.getBoundingClientRect().left" 
[style.top.px]="this.textService.drawingService.canvas?.height + 5">
</div>
<div 
class="right-mask" 
[style.top.px]="1" 
[style.left.px]="this.textService.drawingService.canvas?.width + this.textService.drawingService.canvas?.getBoundingClientRect().left + 5"
>
</div>