

<div class="tool-container">
    <div class="sidebar-container">
        <!-- Tools -->
        <div class="tools">
            <span class="list" *ngFor="let tool of toolService.tools; let i=index">
                <span *ngIf= "i < toolService.tools.length/2">
                    <button mat-raised-button 
                    [matTooltip]="tool.name + ' (' + (tool.key | uppercase) + ')'" matTooltipPosition="right"
                    (click)="onSelectTool(tool)" [ngClass]="{ active: tool === toolService.selectedTool.getValue() }">
                        <img [src]="'../../../assets/' + (tool.name | lowercase) + '.svg'" />
                    </button>
                </span>
            </span>
            <span  *ngFor="let tool of toolService.tools;let i = index">
                <span *ngIf= "i >= toolService.tools.length/2">
                    <button mat-raised-button 
                    [matTooltip]="tool.name + ' (' + (tool.key | uppercase) + ')'" matTooltipPosition="right"
                    (click)="onSelectTool(tool)" [ngClass]="{ active: tool === toolService.selectedTool.getValue() }">
                        <img [src]="'../../../assets/' + (tool.name | lowercase) + '.svg'" />
                    </button>
                </span>
            </span>
            <!-- Select all -->
            <button mat-raised-button matTooltip="Tout sélectionner (Ctrl + A)" matTooltipPosition="right" (click)="selectAll()">
                <img [src]="'../../../assets/select-all.svg'" />
            </button>
        </div>

        <div clas="file">

            <span>
                <!-- Reset canvas -->
                <button mat-raised-button matTooltip="Créer un nouveau dessin (Ctrl + O)" matTooltipPosition="right"
                    (click)="onResetCanvas()">
                    <img [src]="'../../../assets/new.svg'" />
                </button>
                
                <!-- Carousel -->
                <button mat-raised-button matTooltip="Carousel de dessin (Ctrl + G)" matTooltipPosition="right"
                    (click)="openCarousel()">
                    <img [src]='"../../../assets/gallery.svg"' />
                </button>
            </span>

            <span>
                <!-- Save -->
                <button mat-raised-button matTooltip="Sauvegarder sur serveur (Ctrl + S)" matTooltipPosition="right"
                    (click)="openSaveDialog()">
                    <img [src]="'../../../assets/save.svg'" />
                </button>

                <!-- Export -->
                <button mat-raised-button matTooltip="Exporter un dessin (Ctrl + E)" matTooltipPosition="right"
                    (click)="openExportCanvas()">
                    <img [src]='"../../../assets/upload.svg"' />
                </button>

            </span>

        <!-- Undo redo -->
        <span matTooltip="Annuler (Ctrl + Z)" matTooltipPosition="right">
            <button
                class="undo-button button2"
                color="primary"
                [disabled]="this.toolService.selectedTool.value.mouseDown || this.undoRedoService.commandHistory.length <= this.undoRedoService.minHistorySize"
                mat-raised-button (click)="onUndoRedo(true)">
                <mat-icon>undo</mat-icon>
            </button>
        </span>

        <span matTooltip="Refaire (Ctrl + SHIFT + Z)" matTooltipPosition="right">
            <button
                class="redo-button"
                color="primary"
                [disabled]="this.toolService.selectedTool.value.mouseDown || this.undoRedoService.redoHistory.length === 0"
                mat-raised-button (click)="onUndoRedo(false)">
                <mat-icon>redo</mat-icon>
            </button>
        </span>
        <hr>

        </div>
        <!-- Home -->
        <button class="home" mat-raised-button routerLink="/home" matTooltip="Accueil" matTooltipPosition="right">
            <img [src]="'../../../assets/home.svg'" />
        </button>
    </div>
</div>
